<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>All Cars</h1>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>List All Car</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Plat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="car : ${cars}">
                    <td th:text="${car.car_name}"></td>
                    <td th:text="${car.car_plate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>

    <footer th:replace="layout :: footer"></footer>
</div>

</body>
</html>